.list-data
  padding 5px 0 0 0

  ul
    margin 0
    padding 0
    list-style-type none

  .glyphicon
    font-size 30px
    -webkit-animation spin 1s infinite linear
    -moz-animation spin 1s infinite linear
    animation spin 1s infinite linear
